<ion-view id="dashboard" view-title="Frame">

    <ion-content class="padding">
        <form class="category-selector">
            <p>Categorías:</p>
            <select ng-change="applyFilter(category)" ng-model="category" ng-options="category.id as category.category for category in categories"></select>
        </form>
        <div ng-if="posts.length > 0" class="frame-color-bg padding">
            <ion-list>
                <ion-item href="#/tab/dash/{{post.id}}" ng-repeat="post in posts">
                    <h3 class="post-title">{{ post.title }}</h3>
                    <p class="post-info">{{ post.user }} - {{ post.date_added }}</p>
                    <img class="post-img" ng-show="post.image" ng-src="{{post.image}}">
                    <p class="post-content">{{ post.content }}</p>
                </ion-item>
            </ion-list>
        </div>
        <p class="alert no-posts" ng-show="posts.length == 0">Por el momento no hay posts <br> :(</p>
    </ion-content>
    <a ui-sref="tab.dash-new" class="button frame-color2-bg btn-fixed">
        <i class="icon ion-paintbrush"></i>
    </a>
</ion-view>
