
<ion-view id="detail-post-wrapper" view-title="Post">
    <ion-content class="padding">
        <div class="padding">
            <h3>{{post.title}}</h3>
            <p class="post-info">{{ post.user }} - {{ post.date_added }}</p>
            <img class="post-img" ng-src="img/{{post.image}}">
            <p class="post-content">{{ post.content }}</p>
        </div>
        <h4>Comentarios:</h4>
        <ion-list>
            <ion-item ng-repeat="comment in comments track by comment.id">
                <p class="post-info">{{ comment.user }} - {{ comment.date_added }}</p>
                <p class="post-content">{{ comment.comment }}</p>
            </ion-item>
        </ion-list>
    </ion-content>
    <form id="comment-form" ng-submit="save(comment)">

        <label class="item item-input">
            <textarea ng-model="comment.comment" placeholder="Comment"></textarea>
        </label>
        <input type="hidden" ng-model="data.id_user">
        <input type="hidden" ng-model="data.id_post">

        <button class="button frame-color-bg"><i class="icon ion-chatbubble"></i></button>
    </form>
</ion-view>
