
<ion-view id="profile-wrapper" view-title="Profile">
  <ion-content class="padding">
    <div class="padding">
      <img class="post-img" ng-show="user.image" ng-src="{{user.image}}">
      <img class="post-img" ng-show="!user.image" ng-src="img/user/default.png">
      <h3>{{user.name}} {{user.last_name}}</h3>
      <p class="post-info">{{ user.email }}</p>
    </div>
  </ion-content>
  <a ui-sref="tab.profile-options" class="button frame-color2-bg btn-fixed">
    <i class="icon ion-gear-a"></i>
  </a>
</ion-view>