<ion-view view-title="Frame App">

    <ion-content class="padding">
        <div class="white-bg padding">
            <ion-list>
                <ion-item ng-repeat="post in posts">
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.date_added }}</p>
                    <img ng-src="{{post.image}}">
                    <p>{{ post.content }}</p>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>

    <a ui-sref="tab.dash-new" id="newPost" class="button button-balanced">
        <i class="icon ion-paintbrush"></i>
    </a>
</ion-view>
