/* Empty. Add your own CSS if you like */
/************* GENERAL **************/
ion-content {
    /*background-color: #ffc900;*/
}

ion-spinner {
    position: absolute;
    left: 45%;
    top: 45%;
}

.frame-color {
    color: #39B7CC !important;
}
.frame-color-bg {
    background-color: #39B7CC !important;
    color: white;
}
.frame-color2-bg {
    background-color: #48E4FF !important;
    color: white;
}
img {
    display: block;
    width: 100%;
}
.bar button.back-button {
    color: #39B7CC;
}
.bar .title {
    font-family: pacificoregular, fantasy !important;
    font-size: 25px !important;
    line-height: 44px;
    color: #39B7CC !important;
}

.btn-fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    min-width: 60px;
    min-height: 60px;
    box-shadow: 1px 1px 10px #888888;
    padding-top: 5px;
}

#comment-form {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 10px;
    background-color: #efeeee;
}

#comment-form label {
    display: inline-block;
    width: 79%;
    margin-right: 2%;
}

#comment-form button {
    display: inline-block;
    width: 18%;
}


.underline {
    text-decoration: underline;
}


/************* DASHBOARD **************/
#dashboard .category-selector {
    font-weight: bold;
    text-align: right;
    color: #39B7CC;
}

#dashboard .category-selector p {
    display: inline-block;
}

#dashboard .alert.no-posts {
    padding: 140px 0;
    font-size: 23px;
    text-align: center;
    background-color: #39B7CC;
    font-family: pacificoregular, fantasy !important;
    color: white;
    line-height: 55px;
}

/************* PROFILE **************/

#profile-wrapper .button i {
    font-size: 200px;
}

#profile-wrapper img {
    display: inline-block;
    border-radius: 50%;
    width: 20%;
}
#profile-wrapper h3 {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    width: 75%;
}

/************* PROFILE EDIT **************/
#config .field {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

#config .field:first-child {
    margin-top: 0px;
}

/************* LOGIN **************/
#login-wrapper ion-content {
    padding: 0 50px;
}

#login-wrapper .logo {
    margin: 40px auto 20px;
    width: 80%;
}
#login-wrapper button {
    padding: 10px;
}

#login-wrapper p {
    font-size: 15px !important;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
}
#login-wrapper p:nth-child(4) {
    margin-bottom: 25px !important;
    padding: 0 20px;
}
/************* POSTS **************/

#dashboard ion-list ion-item {
    margin-bottom: 10px;
}
#dashboard ion-list ion-item:last-child {
    margin-bottom: 0;
}

.post-title {
    font-size: 20px !important;
    margin-bottom: 10px !important;
}
.post-img {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
.post-info {
    font-size: 12px !important;
    color: #aaaaaa !important;
    font-style: italic !important;
    margin-bottom: 10px !important;
}

.post-user-image {
    width: 30px;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    border-radius: 50%;
}

.post-info-bot {
    position: relative;
    padding: 10px 0;
}

.post-info-bot .like-counter {
    font-weight: bold;
    font-size: 13px;
}

.post-info-bot .icon-like{
    font-size: 30px;
    position: absolute;
    right: 12px;
    bottom: 4px;
    -webkit-transition: all ease-in;
    -moz-transition: all ease-in;
    -ms-transition: all ease-in;
    -o-transition: all ease-in;
    transition: all ease-in;
}

.post-info-bot .ion-android-favorite {
    color: rgba(255, 0, 1, 0.51);
}

#new-post-wrapper textarea {
    min-height: 150px;
}

/************* POST DETAIL **************/
#detail-post-wrapper ion-content {
    margin-bottom: 80px;
}



/************* OVERRRIDES **************/


.tabs a .icon {
    padding-top: 7px;
}

ion-tabs.tabs-striped.tabs-color-active-frame-color .tab-item.tab-item-active,
ion-tabs.tabs-striped.tabs-color-active-frame-color .tab-item.active,
ion-tabs.tabs-striped.tabs-color-active-frame-color .tab-item.activated {
    border-color: #39B7CC !important;
    color: #39B7CC !important;
}

.popup-buttons .button.button-positive {
    border-color: transparent;
    background-color: #39B7CC;
    color: #fff;
    font-size: 20px !important;
}

#dashboard .item-complex .item-content,
#dashboard .item-radio .item-content {
    padding: 16px !important;
}